VisualStudio/**/Debug
VisualStudio/**/Release
VisualStudio/**/ipch
VisualStudio/**/.svn
VisualStudio/**/*.sdf
VisualStudio/**/*.suo
##VisualStudio/**/*.vcxproj
##VisualStudio/**/*.filters
##VisualStudio/**/*.user

Unity/**/Library
Unity/**/.vs