VisualStudio/**/Debug
VisualStudio/**/Release
VisualStudio/**/ipch
VisualStudio/**/.svn
VisualStudio/**/*.sdf
VisualStudio/**/*.suo
VisualStudio/**/.vs

Unity/**/Library
Unity/**/.vs
Unity/**/Temp
Unity/**/obj
Unity/**/Logs